* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    font-size: 1em;
}

.container {
    margin: 0 auto;
    max-width: 400px;
    padding: 20px;
    text-align: right;
}

h1 {
    text-align: center;
    color: #4d4d4d;
}

h2 {
    font-size: 1.2em;
    font-weight: 400;
    background-color: #e5e5e5;
    padding: 2px;
    margin: 10px 0px;
}

p {
    font-size: 1.2em;
}

input {
    width: 70px;
    margin: 3px 0px 3px 15px;
    padding: 10px;   
    font-size: 1.2em;
    border: 1px solid #a1a1a1;
    border-radius: 5px;    
}

hr {
    margin: 10px 0px;
}

img {
    max-width: 100%;
}

#left {
    width: 70%;
}

td {
    vertical-align: top;
}